<form class="form-horizontal" action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <fieldset>

    <!-- Form Name -->
    <!-- <legend>Form Name</legend> -->

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">First Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Enter your first name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Last Name</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Enter your last name" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Email</label>
      <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="john@gmail.com" class="form-control input-md">

      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Password</label>
      <div class="col-md-4">
        <input id="passwordinput" name="passwordinput" type="password" placeholder="Create a password" class="form-control input-md">

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input type="submit" value="Register" class="btn btn-primary"/>
      </div>
    </div>

  </fieldset>
</form>
<a href="/sessions">Log In</a>
